<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1 th:text="Registre">form</h1>
<form action="#"  th:action="@{/actualitzarPersonatge}"  th:object="${Personatge}" method="POST" >
    <div>
        <label th:text="Nom">Nom Animal</label>
        <input type="text" id="username" th:field="*{nom}"/>
        <p th:each="error: ${#fields.errors('nom')}"
           th:text="${error}">Error</p>
    </div>
    <div>
        <label th:text="videojoc">Videojoc</label>
        <input type="text"  th:field="*{videojoc}"/>
        <p th:each="error : ${#fields.errors('videojoc')}"
           th:text="${error}">Error</p>
    </div>
    <button type="submit" th:text="Submit">submit</button>
</form>

</br>
</br>
</br>
</br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sortir (Sign Out)"/>
</form>
</body>
</html>