<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>NewManga</title>
</head>
<body>
  <h1 th:text="Nou manga">form</h1>
  <form action="#"  th:action="@{/afegirManga}"  th:object="${Manga}" method="POST" >
    <div>
      <label th:text="Nom_Manga">Nom Manga</label>
      <input type="text" id="username" th:field="*{nom}"/>
      <p th:each="error: ${#fields.errors('nom')}"
         th:text="${error}">Validation error</p>
    </div>

    <div>
      <label th:text="Nom_del_autor">Nom de l'autor</label>
      <input type="text"  th:field="*{autor}"/>
      <p th:each="error : ${#fields.errors('autor')}"
         th:text="${error}">Validation error</p>
    </div>

    <button type="submit" th:text="Submit">submit</button>
  </form>

  </br>
  </br>
  </br>
  </br>

  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sortir"/>
  </form>
</body>
</html>